* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;	
	background-color: #5BC8A0;
	color: #FBF6F4;
	margin:0;
	font-weight: 400;
	line-height: 1.6;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1, h2{
	margin:0 ;
}

h1 {
	font-size: 4rem;
	position: relative;
	padding: 2.2rem 0;
	color: #2E8A6E;
	text-align: center;
	font-weight: 300;
	background-color: #fff;
}

h2 {
	margin: 10px 0;
	text-align: center;
}

strong {
	 color:#2E8A6E;
}

button {
	font-size: 1rem;
	border: none;
	color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	cursor: pointer;
}

.container{
	display: flex;
	max-width: 960rem;
	height:100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.copyright {
	content: "";
	font-size: .8rem;
	color: #2E8A6E;
	position: absolute;
	bottom: 5px;
	right: 15px;
}

.notice {
	width: 50%;
	font-size: 1.2rem;
}

@media only screen and (max-width: 700px) {
	.notice {
		width: 80%;
	}
}


/*********  TO-DO BOX STARTS FROM HERE  *********/

.todoBox {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	width: 770px;
}

@media only screen and (max-width: 780px) {
	.todoBox {
		flex-direction: column;
		align-items: center;
	}
}

.todoBox__form {
	display: flex;
	height: 3rem;
}

.todoBox__input {
	border: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	margin-right: 10px;
}

.todoBox__btn {
    background-color: #2E8A6E;
}

.todoBox__list {
	width: 350px;
	font-size: .9rem;
}

@media only screen and (max-width: 700px) {
	.todoBox__list {
		padding-top: 3 0px;
	}
}

.todoBox__list-item {
	color: #fff;
	padding: .9rem 1.2rem;
	margin-bottom: 17px;
	border: 1px solid rgba(255,255,255, .2);
	border-radius: 4px;
	position: relative;
	cursor: pointer;
	transition: all .2s ease;
}

.todoBox__list-item:hover{
	border: 1px solid rgba(255,255,255, .6);
}


/*********  DELETE button *********/

.todoBox__del-btn  {
	position: absolute;
	top: 6px;
    right: 10px;  
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	border: 1px solid rgba(255, 255, 255, .3);
	border-radius: 100%;
	background-color: transparent;
	transition: all .3s ease-out;
}

.todoBox__del-btn:hover {
	background-color:rgba(255, 255, 255, .3);
}


/*********  STRIKE THROUGH style *********/

.todoBox__list-item-text {
	position: relative;
}

.is-clicked .todoBox__list-item-text::after {
	content:"DONE!";
    position: absolute;
    width: 100%;
	border-top: 1px solid red;
	color: #FBF6F4;
    left: 0;
    top: 50%;
}
