* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
/*  margin:0;
  padding:0;*/
}

body {
	margin:0;
  background-color: #BBB;
  font-family: Helvetica, sans-serif;
}

img {
	width:100%;
}

.explanation {
	font-family: Times new roman, serif;
	font-size: 1.5rem;
}

.deals {
	float:right;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	border:2px solid red;
}

@media (max-width: 840px) {

.deals {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column
}
	}

form {
	padding:2rem;
	font-size: 2rem;
}

@media (max-width: 100%) {

form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column;
		        flex-flow: column
}
	}

form .form-row{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		border:2px solid red;
	}

form .form-row label {
			margin-right: 10px;
		}

form .form-row input {
			-webkit-box-flex:1;
			    -ms-flex-positive:1;
			        flex-grow:1;
			height:2rem;
		}

.sale-item {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	min-width: 60%;
	border:2px solid red;
	padding: 20px;

}

@media (max-width: 500px) {

.sale-item {
		display:block

}
	}

.sale-item__title {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		/*background-color: red;*/
	}

.sale-item__cont {
	/*	background-color: yellow;*/
	}

/* second example */

.column-layout {
  max-width: 1300px;
  background-color: #FFF;
  margin: 40px auto 0 auto;
  line-height: 1.65;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-column {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sidebar-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.sidebar-two {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

/* third example */

.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}

.call-out {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (min-width: 900px) {
  .call-outs-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.call-out:nth-child(1) {background-color: #c0dbe2;}

.call-out:nth-child(2) {background-color: #cdf1c3;}

.call-out:nth-child(3) {background-color: #ccb9da;}

/* fourth example */

.fixed-size-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: #FFF;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fixed-size {
  width: 150px;
  height: 100px;
  background-color: #990b47;
  color: #FFF;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 20px;
}

/* fifth example */

.banner {
  height: 400px;
  max-width: 700px;
  margin: 40px auto 40px auto;
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-me {
  color: #FFF;
  font-size: 50px;
  margin: auto;
}

/* sixth example */

.equal-height-container {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first {
  background-color: #FFF;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.second {
  background-color: yellow;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-a {
  background-color: #c0dbe2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.second-b {
  background-color: #cdf1c3;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}